.Loading {
    height: 1em;
    width: 1em;
    animation: spin 1s linear infinite;
}

.Loading > rect {
    fill: currentColor;
    fill: #ecf0f1;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}